.nft_whychoose_full_div {
    color: black;
}

.nft_whychoose_left_div {
    width: 100%;
}

.nft_whychoose_Right_div {
    margin-top: 50px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 62px;
}

.nft_whychoose_Right_box {
    width: 300px;
    height: 122px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: start;
    padding-left: 60px;
    align-items: center;
    position: relative;
    border-radius: 5px;
}

.nft_whychoose_img {
    width: 50px;
    height: 50px;
}

.nft_img_round {
    width: 80px;
    height: 80px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: absolute;
    left: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

}

.nft_whychoose_name {
    font-size: 20px;
}