@use "../utils" as *;

.careerSection_heading {
  margin: 50px 0;
  text-align: center;
  color: black;
  span {
    color: var(--theme-1);
  }
}
.career_section {
  height: 100%;
  background-color: white;
  background-image: url(../../../../src/images/full-shot-ninja-wearing-equipment.png);
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  justify-content: end;
  align-items: center;

  .career_section_formdata {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
margin: 200px 0;
    width: 600px;
    height: 600px;
    margin-right: 100px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(25.1px);
    -webkit-backdrop-filter: blur(7.1px);
    padding: 50px 20px;
    .top {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      .top_heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
          text-align: center;
          margin: 0;
        }
        p {
          font-size: 18px;
        }
      }
      form {
        width: 100%;
        display: flex;
        gap: 20px;
        flex-direction: column;
        .two_input {
          width: 100%;
          gap: 10px;
          display: flex;
          input {
            width: 100%;
            height: 50px;
            border: none;
            background: transparent;
            border-bottom: 2px solid var(--theme-1);
            font-size: 16px;
            padding-left: 10px;
            color: white;
            &::placeholder {
              font-size: 16px;
              color :white;
            }
          }
        }
        textarea {
          width: 100%;
          height: 50px;
          border: none;
          background: transparent;
          border-bottom: 2px solid var(--theme-1);
          font-size: 16px;
          padding-left: 10px;
          outline: none;
          color: white;
          &::placeholder {
            font-size: 14px;
            color :white;
          }
        }
        .getpdf {
          display: flex;
          justify-content: space-between;
          align-items: center;
          p {
            font-size: 12px;
          }
          label {
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            cursor: pointer;
            i {
              font-size: 24px;
              color: var(--theme-1);
            }
          }
          input {
            display: none;
          }
        }
      }
    }
    .center{
        .career_btn{
            width: 220px;
            height: 60px;
        }
    }
    .bottom{
    display: flex;
    gap: 10px;
    input[type="checkbox"] {
      width: 20px;
      }
    p{
        margin: 0;
        a{
            color: var(--theme-1);
        }
    }
    }
  }
}
