.Deve_process_fulldiv {
    width: 100%;
    background: white !important;
}

.right_devo_card_div {
    width: 100%;
    margin-top: 80px;
}


.devo_round_div {
    height: 200px;
}

.devo_process_content_div {
    position: absolute !important;
    transform: translate(-50%, -50%) !important;
    top: 50%;
    left: 380px;
}

.devo_process_content_div2 {
    position: absolute !important;
    transform: translate(-50%, -50%) !important;
    top: 50%;
    right: 8%;
}

.realtive_devo_div {
    position: relative;
}

.realtive_devo_div2 {
    position: relative;
    display: flex;
    justify-content: end;
}


.devo_conten_h {
    font-family: var(--ff-heading);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}


.devo_conten_p {
    width: 300px;
}

.devo_img_icon {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 95px;
    top: 50%;
    transform: translate(-50%, -50%);
}

.devo_img_icon2 {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    transform: translate(-50%, -50%);
}