.NavBottom_main_div {
    width: 100%;
    height: 60px;
    /* background: rgba(179, 175, 175, 0.21);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(100px); */
    background: #212121;
    position: fixed;
    bottom: 0;
    z-index: 99999999999;
    cursor: pointer;
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.NavBottom_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NavBottom_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.icon_bottom {
    font-size: 24px;
    padding: 15px 25px;
}