.whychoose_right_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    padding-left: 75px;
}

.whychoose_fulldiv {
    padding: 100px 0 !important;
}

.whychoose_right_div>div>p {
    width: 300px;
    margin-bottom: 30px;
}

.whychoose_right_div>div>div {
    font-size: 20px;
    font-family: var(--ff-heading);
    font-weight: 600;
    margin-bottom: 10px;

}


@media screen and (max-width: 1070px) {

    .whychoose_right_div {
        padding-left: 40px;
    }

}

@media screen and (max-width: 1000px) {

    .whychoose_right_div {
        padding-left: 0px;
        width: 100%;
        padding: 0 12px;
        margin-top: 30px;
    }

    .whychoose_left_div {
        width: 100%;
        padding: 0 12px;
    }

    .whychoose_right_div>div>p {
        width: 389px;
        margin-bottom: 25px;
    }

}


@media screen and (max-width: 880px) {

    .whychoose_right_div>div>p {
        width: 349px;
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 770px) {

    .whychoose_right_div>div>p {
        width: 100%;
        margin-bottom: 25px;
    }
}