@media screen and (max-width: 1000px) {

    .wrapper-inner {
        height: 410px !important;
    }

}


@media screen and (max-width: 767px) {

    .wrapper-inner {
        height: 100% !important;
    }

}

.Hero_sub_heading {
    font-size: 20px;
    font-weight: 600;
    line-height: 35px;
}


/* key_features_card_white - raide-simx */

.key_features_card_white {
    background: white !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.key_features_card_white h6 {
    color: black !important;
}

.key_features_card_white p {
    color: black !important;
}


/* li-cogni  */

.li-cogni {
    display: flex !important;
    flex-direction: column;
    color: black !important;
    font-size: 16px;
}

.li-cogni li {
    list-style-type: square !important;
    color: black;
}


@media screen and (max-width:1085px) {
    .has-dropdown {
        margin-right: 15px !important;
    }
}

/* // banner */

.metaverseroyal_hero {
    position: relative;
    padding: 100px 0 60px 0;
    height: 90vh;
    background-image: url(`../../../public/assets/img/metaverse-royale/dl.beatsnoop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.metaverseroyal_hero_unity {
    position: relative;
    padding: 100px 0 60px 0;
    height: 90vh;
    background-image: url(`../../../public/assets/img/unity/hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.metaverseroyal_hero_unreal {
    position: relative;
    padding: 100px 0 60px 0;
    height: 90vh;
    background-image: url(`../../../public/assets/img/unreal/hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.metaverseroyal_hero_mmorpg {
    position: relative;
    padding: 100px 0 60px 0;
    height: 90vh;
    background-image: url(`../../../public/assets/img/mmorpg-img/hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.metaverseroyal_hero_p2e {
    position: relative;
    padding: 100px 0 60px 0;
    height: 90vh;
    background-image: url(`../../../public/assets/img/p2e/her.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.metaverseroyal_hero_web3 {
    position: relative;
    padding: 100px 0 60px 0;
    height: 90vh;
    background-image: url(`../../../public/assets/img/web3game-img/hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.web3game_banner {
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    display: flex !important;
    align-items: center !important;
}

.p2e_banner {
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    display: flex !important;
    align-items: center !important;
}

.casino_banner {
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    display: flex !important;
    align-items: center !important;
}

/* br tag  */

@media screen and (max-width: 576px) {
    br {
        display: none !important;
    }
}